.open-sans-100 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .open-sans-200 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .open-sans-500 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.section-1-tool{
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 22vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.section-2{
    color: white;
    width: 60%;
    /* height: 50vh; */
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: 0.2vw solid #57CF55;
    border-radius: 1.5vw;
    padding: 0.5vh 0.4vw;
}
.checklist-loader{
    position: absolute;
    right: 1vw;
    top: 0.6vw;
}
.checklist{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.check-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5vh;
    border: 0.2vw solid #57CF55;
    border-radius: 0.8vw;
    margin: 0.6vh 0.3vw;
    align-items: center;
    padding-left:1vw;
    position: relative;
}
.check-2{
    width: 97.5%;
    display: flex;
    flex-direction: column;
    border: 0.2vw solid #57CF55;
    border-radius: 0.8vw;
    margin: 0.6vh 0.3vw;
    padding:0.5vw 1vw;
    position: relative;
}
.check-2 table{
    margin: 0 auto;
    width: 80%;
    height: 60%;
    overflow: hidden;
}
.side-tags{
  position: absolute;
  top: 0.3vw;
  right: 1vw;
  min-width: 4vw;

  height: 3.5vh;
  /* border: 0.1vw solid #59E32A; */
  border-radius: 1vw;
  text-align: center;
}
.safe{
  color: #59E32A;
  background-color: rgb(89, 227, 42,0.24);
  border: 0.1vw solid #59E32A;
}
.unsafe{
  color: #E32A2A;
  background-color: rgb(255, 42, 42,0.24);
  border: 0.1vw solid #E32A2A;

}
.suspicious{
  color: #FFC107;
  background-color: rgb(255, 193, 7,0.24);
  border: 0.1vw solid #FFC107;
  width: 8vw;
}
.domain-score-sus{
  width: 4vw;
}
.final-result{
  width: 25.5%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 0.2vw solid #57CF55;
  border-radius: 0.8vw;
  margin: 0.6vh 0.3vw;
  transform: translateX(12%);
  gap: 1vw;
  padding-top: 1vw;
}
.final-result-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.final-result-loader{
  width: 100%;
  display: flex;
  flex-direction: column;
   /* justify-content: center;
  align-items: center; */
  /* height: 100%; */
  /* transform: scale(1.5); */

}
.empty-text{
  color: #E32A2A;
  font-size: 5vw;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}

.indicator-out{
  font-size: 2vw;
  width: 10vw;
  height: 10vw;
  display: flex;
  border-radius: 50%;
  /* border: 0.3vw solid #57CF55; */
  justify-content: center;
  align-items: center;
  /* background-color:rgb(89, 227, 42,0.24) ; */
}
.indicator-in{
  width: 8vw;
  height: 8vw;
  display: flex;
  border-radius: 50%;
  /* border: 0.3vw solid #57CF55; */
  justify-content: center;
  align-items: center;
}
.indicator-safe{
  color: #57CF55;
  border: 0.3vw solid #57CF55;
  background-color:rgb(89, 227, 42,0.24) ;
}
.indicator-unsafe{
  color: #E32A2A;
  background-color: rgb(255, 42, 42,0.24);
  border: 0.3vw solid #E32A2A;
}
.threat{
  display: flex;
  flex-direction: row;

  width: 90%;
}
.threat-tags{
  min-width: 4vw;
  
  position: absolute;
  right: 1vw;
  height: 3.5vh;
  /* border: 0.1vw solid #59E32A; */
  border-radius: 1vw;
  text-align: center;
}
.medium{
  color: #FFC107;
  background-color: rgb(255, 193, 7,0.24);
  border: 0.1vw solid #FFC107;
  width: 5.5vw;
}
.report-bkgrnd{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(102, 102, 102, 0.24); */
  z-index: 1;
  backdrop-filter: blur(10px);
}
.close-btn{
  position: absolute;
  top: 1vh;
  right: 1vw;
  font-size: 2vw;
  color: white;
  cursor: pointer;

}
.report-container{
  position: fixed;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width : 40%;
  height: 55%;
  text-align: center;
  border: 0.3vw solid #57CF55;
  /* backdrop-filter: blur(10px); */
  z-index: 2;
  border-radius: 1vw;
  color: white;
  background-color: #152025;
}
.url-box{
  width: 80%;
  /* height: 5vh; */
  /* margin: 2vh auto; */
  border: 0.1vw solid #57CF55;
  border-radius: 0.8vw;
  /* padding-left: 1vw; */
  font-size: 1.2vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.url-label{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.1vw solid #57CF55;
}
.url-to-report{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
  text-align: center;
  padding: 0.5vw;
}
.report-label{
  font-size: 1vw;
  margin: 2vw 0 1vw 0;
}
.report-type{
  width: 80%;
  /* height: 7vh; */
  display: inline-flex;
  overflow: hidden;
  border-radius: 1.5vw;
  border: 0.2vw solid #57CF55;
  /* box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25); */
}
.radio-inpt{
  display: none;

}
.radio-label{
  width: 33.3%;
  padding: 8px 14px;
  font-size: 1.5vw;
  color: white;
  background-color: #152025;
  cursor: pointer;
  transition: background-color 0.3s;
  

}

.radio-label:not(:last-of-type){
  border-right: 0.1vw solid #57CF55;

}
.radio-inpt:checked + .radio-label{
  background-color: #57CF55;
}
.submit-btn{
  width: 8vw;
  font-size: 1.5vw;
  height: 5vh;
  /* padding-top: 0.5vw; */
  border-radius: 1vw;
  margin: 3vh auto;
  cursor: pointer;
}